<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team.description %>
  </p>

   <p>
    <strong>Division:</strong>
     <% if !(team.division).nil? %>
    <%= team.division.name %>
     <%end%>
  </p>

  <p>
    <strong>Leader Id:</strong>
    <%= Employee.find_by(id: team.leader_id).name %>
  </p>

   <p>
    <strong>Members:</strong>
    <%= team.employees.where.not(id: team.leader_id).collect(&:name).join(',') %>
  </p>

  

</div>
