<div class="container">
<h1 class="text-center mt-5">Teams</h1>
 <a href="/" class="mt-5">&#8592; Back to Home</a>



<a href="/teams/new">
<span style="font-size: 48px; color: Dodgerblue;" class="d-block mt-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

   <table class="table table-hover">
    <thead class="table-info">
      <tr>
       <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Leader</th>
        <th>members</th>
        <th>Division</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @teams.each do |team| %>
      <tr>
        <td># <%=team.id%></td>
        <td><%=team.name%></td>
        <td><%=team.description%></td>

        <% if !(Employee.find_by(id: team.leader_id)).nil? %>
        <td> <%=Employee.find(team.leader_id).name%></td> 
        <%else%> <td></td> <%end%>
        
        <td><%= team.employees.where.not(id: team.leader_id).collect(&:name).join(',') %></td>

         <% if !(team.division).nil? %>
        <td> <%=team.division.name %></td> 
        <%else%> <td></td> <%end%>

         <td> <a href="/teams/<%=team.id%>/edit" class="btn btn-primary">Edit</a></td>
         <td><a href="/teams/<%=team.id%>" id="destroy" class="btn btn-danger">Delete</a></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 

</div>


