<div class="container">
<h1 class="text-center mt-5"><%= t 'models.Teams' %></h1>
 <a href="/" class="mt-5">&#8592; <%= t 'global.buttons.back to home' %></a>



<a href="/teams/new">
<span style="font-size: 48px; color: Dodgerblue;" class="d-block mt-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

   <table class="table table-hover">
    <thead class="table-info">
      <tr>
       <th><%= t 'pages.Teams.forms.id' %></th>
        <th><%= t 'pages.Teams.forms.name' %></th>
        <th><%= t 'pages.Teams.forms.description' %></th>
        <th><%= t 'pages.Teams.forms.leader' %></th>
        <th><%= t 'pages.Teams.forms.members' %></th>
        <th><%= t 'pages.Teams.forms.division' %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @teams.each do |team| %>
      <tr>
        <td># <%=team.id%></td>
        <td><%=team.name%></td>
        <td><%=team.description%></td>

        <% if !(Employee.find_by(id: team.leader_id)).nil? %>
        <td> <%=Employee.find(team.leader_id).name%></td> 
        <%end%>
        
        <td><p class="overme"><%= team.employees.where.not(id: team.leader_id).collect(&:name).join(',') %></p></td>

         <% if !(team.division).nil? %>
        <td> <%=team.division.name %></td> 
         <%else%> <td></td> <%end%>
         <td class="px-0"><%= link_to t('global.buttons.show'), team_path(team), class: "btn btn-success"  %></td>
         <td class="px-0"><%= link_to t('global.buttons.edit'), edit_team_path(team), class: "btn btn-primary"  %></td>
         <td class="px-0"><%= button_to t('global.buttons.delete'), team_path(team), method: :delete, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 

</div>


