<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to t('pages.Teams.buttons.edit team'), edit_team_path(@team) %> |
  <%= link_to t('pages.Teams.buttons.back to teams'), teams_path %>

  <%= button_to t('pages.Teams.buttons.destroy team'), @team, method: :delete %>
</div>
