<div id="<%= dom_id employee %>">
  <p>
    <strong><%= t 'pages.Employees.forms.name' %>: </strong>
    <%= employee.name %>
  </p>

  <p>
    <strong><%= t 'pages.Employees.forms.email' %>: </strong>
    <%= employee.email %>
  </p>

  <p>
    <strong><%= t 'pages.Employees.forms.job' %>: </strong>
    <%= employee.job %>
  </p>

  <p>
    <strong><%= t 'pages.Employees.forms.salary' %>: </strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong><%= t 'pages.Employees.forms.employment status' %>: </strong>
    <%= employee.employment_status %>
  </p>

</div>
