<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to t('pages.Employees.buttons.edit employee'), edit_employee_path(@employee) %> |
  <%= link_to t('pages.Employees.buttons.back to employees'), employees_path %>

  <%= button_to t('pages.Employees.buttons.destroy employee'), @employee, method: :delete %>
</div>

