<%= form_with(model: target) do |form| %>
  <% if target.errors.any? %>
    <div style="color: red">
      <h2><%= t('global.messages.error message',count: target.errors.count) %></h2>

      <ul>
        <% target.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('pages.Targets.forms.title', default: 'Title'), style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label t('pages.Targets.forms.description', default: 'Description'), style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label t('pages.Targets.forms.start date', default: 'Start Date'), style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>

  <div>
    <%= form.label t('pages.Targets.forms.finish date', default: 'Finish Date'), style: "display: block" %>
    <%= form.datetime_field :finish_date %>
  </div>

  <div>
    <%= form.label t('pages.Targets.forms.status', default: 'Status'), style: "display: block" %>
    <%= form.text_field :status %>
  </div>

<div>
    <%= form.label t('pages.Targets.forms.team', default: 'Team'), style: "display: block" %>
    <%= form.select :team_id, Team.all.collect{ |team| [team.name,team.id] }%>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
