<div id="<%= dom_id target %>">
  <p>
    <strong><%= t 'pages.Targets.forms.title' %>: </strong>
    <%= target.title %>
  </p>

  <p>
    <strong><%= t 'pages.Targets.forms.description' %>: </strong>
    <%= target.description %>
  </p>

  <p>
    <strong><%= t 'pages.Targets.forms.start date' %>: </strong>
    <%= target.start_date %>
  </p>

  <p>
    <strong><%= t 'pages.Targets.forms.finish date' %>: </strong>
    <%= target.finish_date %>
  </p>

  <p>
    <strong><%= t 'pages.Targets.forms.status' %>: </strong>
    <%= target.status %>
  </p>

</div>
