<div class="container">
<h1 class="text-center mt-5"><%= t 'models.Targets' %></h1>
 <!-- <a href="/" class="mt-5">&#8592; <%= t 'global.buttons.back to home' %></a> -->



<a href="/targets/new">
<span style="font-size: 48px; color: Dodgerblue;" class="d-block mt-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

   <table class="table table-hover">
    <thead class="table-info">
      <tr>
      <th><%= t 'pages.Targets.forms.id' %></th>
       <th><%= t 'pages.Targets.forms.title' %></th>
        <th><%= t 'pages.Targets.forms.description' %></th>
        <th><%= t 'pages.Targets.forms.start date' %></th>
        <th><%= t 'pages.Targets.forms.finish date' %></th>
        <th><%= t 'pages.Targets.forms.status' %></th>
        <th><%= t 'pages.Targets.forms.team' %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @targets.each do |target| %>
      <tr>
        <td># <%=target.id%></td>
        <td><%=target.title%></td>
        <td><%=target.description%></td>
        <td><%= target.start_date %></td>
        <td><%= target.finish_date %></td>
        <td><%=target.status%></td>
        <% if !(target.team_id).nil? %>
        <td> <%=Team.find(target.team_id).name %></td> 
        <%else%><td></td> <%end%>
       <td class="px-0"><%= link_to t('global.buttons.show'), target_path(target), class: "btn btn-success"  %></td>
        <td class="px-0"><%= link_to t('global.buttons.edit'), edit_target_path(target), class: "btn btn-primary"  %></td>
        <td class="px-0"><%= button_to t('global.buttons.delete'), target_path(target), method: :delete, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 

</div>


