<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
    
      <h2><%= t('global.messages.error message',count: user.errors.count)%></h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <%= form.label t('pages.Users.forms.picture', default: 'Picture'), style: "display: block" %>
    <%= form.file_field :picture, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t('pages.Users.forms.email', default: 'Email'), style: "display: block" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t('pages.Users.forms.email confirm', default: 'Email Confirmation') , style: "display: block" %>
    <%= form.text_field :email_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t('pages.Users.forms.name', default: 'Name'), style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= form.label t('pages.Users.forms.password', default: 'Password') , style: "display: block" %>
    <%= form.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t('pages.Users.forms.password confirm', default: 'Password Confirmation'), style: "display: block" %>
    <%= form.text_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
     <%= form.submit t('helpers.submit.submit', model: ""), class: "btn btn-primary mt-2 px-4" %>
  </div>
<% end %>
