<div id="<%= dom_id user %>">
  <p>
    <strong><%= t 'pages.Users.forms.email' %>: </strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= t 'pages.Users.forms.name' %>: </strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= t 'pages.Users.forms.password' %>: </strong>
    <%= user.password %>
  </p>

  <p>
    <strong><%= t 'pages.Users.forms.created at' %>: </strong>
    <%= l user.created_at %>
  </p>

</div>
