<div class="container">
<h1 class="text-center mt-5"><%= t 'models.Users' %></h1>
 <a href="/" class="mt-5">&#8592; <%= t 'global.buttons.back to home'%></a>



<a href="/users/new">
<span style="font-size: 48px; color: Dodgerblue;" class="d-block mt-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

   <table class="table table-hover">
    <thead class="table-info">
      <tr>
       <th><%= t 'pages.Users.forms.id' %></th>
       <th><%= t 'pages.Users.forms.name' %></th>
       <th><%= t 'pages.Users.forms.email' %></th>
       <th><%= t 'pages.Users.forms.password' %></th>
       <th></th>
       <th></th>
       <th></th>
      </tr>
    </thead>
    <tbody>
     <% @users.each do |user| %>
      <tr>
        <td># <%=user.id%></td>
        <td><%=user.name%></td>
        <td><%=user.email%></td>
        <td>******</td>
         <td class="px-0"><%= link_to t('global.buttons.show'), user_path(user), class: "btn btn-success"  %></td>
         <td> <a href="/users/<%=user.id%>/edit" class="btn btn-primary"><%= t 'global.buttons.edit' %></a></td>
         <td><a href="/users/<%=user.id%>" id="destroy" class="btn btn-danger"><%= t 'global.buttons.deletes' %></a></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 

</div>


