<div id="<%= dom_id division %>">
  <p>
    <strong><%= t('pages.Divisions.forms.name') %>: </strong>
    <%= division.name %>
  </p>

  <p>
    <strong><%= t('pages.Divisions.forms.description') %>: </strong>
    <%= division.description %>
  </p>

  <p>
    <strong><%= t('pages.Divisions.forms.manager') %>: </strong>
    <%= division.employee_id %>
  </p>

    <p>
    <strong><%= t('pages.Divisions.forms.teams') %>: </strong>
    <%= division.teams.collect(&:name).join(',') %>
  </p>

</div>
