<%= form_with(model: division) do |form| %>
  <% if division.errors.any? %>
    <div style="color: red">
      <h2><%= t('global.messages.error message',count: division.errors.count) %></h2>

      <ul>
        <% division.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('pages.Divisions.forms.name', default: 'Name'), style: "display: block" %>
    <%= form.text_field :name , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t('pages.Divisions.forms.description', default: 'Description'), style: "display: block" %>
    <%= form.text_field :description , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t('pages.Divisions.forms.manager', default: 'Manager'), style: "display: block" %>
    <%= form.select :employee_id, Employee.all.collect{ |employee| [employee.name,employee.id] },{} , {class: "form-control"} %>
  </div>


 <div>
   
   <%# <%= form.select :teams, Team.all.collect { |team| ["##{team.id}", team] },{:include_hidden => false},{ :multiple => true, class: 'selectpicker'} %> 
   <%# <% form.fields_for :teams do |teams_form| %> 
    <%= form.label t('pages.Divisions.forms.teams', default: 'Teams'), style: "display: block" %>
   <%# <%= form.select :teams , Team.all.collect{ |team| [team.name,team.id] },{:include_hidden => false, selected: @division.teams.map(&:id)},{ :multiple => true, :class => 'p-1 pr-5'}  %> 
    <%= form.collection_select(:team_ids, Team.all, :id, :name, {include_hidden: false}, {:multiple => true, class: "form-control"}) %>
    <%# <% end %> 

  </div>


  <div class="form-group"> 
      <%= form.submit t('helpers.submit.submit', model: ""), class: "btn btn-primary mt-2 px-4" %>  </div>
<% end %>


