<%= form_with(model: division) do |form| %>
  <% if division.errors.any? %>
    <div style="color: red">
      <h2><%= t('global.messages.error message',count: division.errors.count) %></h2>

      <ul>
        <% division.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('pages.Divisions.forms.name', default: 'Name'), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label t('pages.Divisions.forms.description', default: 'Description'), style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label t('pages.Divisions.forms.manager', default: 'Manager'), style: "display: block" %>
    <%= form.select :employee_id, Employee.all.collect{ |employee| [employee.name,employee.id] }%>
  </div>


 <div>
   
   <%# <%= form.select :teams, Team.all.collect { |team| ["##{team.id}", team] },{:include_hidden => false},{ :multiple => true, class: 'selectpicker'} %> 
   <%# <% form.fields_for :teams do |teams_form| %> 
    <%= form.label t('pages.Divisions.forms.teams', default: 'Teams'), style: "display: block" %>
   <%# <%= form.select :teams , Team.all.collect{ |team| [team.name,team.id] },{:include_hidden => false, selected: @division.teams.map(&:id)},{ :multiple => true, :class => 'p-1 pr-5'}  %> 
    <%= form.collection_select(:team_ids, Team.all, :id, :name, {include_hidden: false}, {:multiple => true}) %>
    <%# <% end %> 

  </div>

 <!--  <div>

  <%= form.label "Teams", style: "display: block" %>
  <%= form.select :teams, 
                   options_from_collection_for_select(Team.all, :id, :name, @division.teams.map(&:id)),{:include_hidden => false},
    { :multiple => true, :class => 'p-1 pr-5'} %>

  </div> -->
<!--
 <div>
 <%= form.label 'New Teams', style: "display: block" %>
  <ul>
  <%= form.fields_for :teams do |teams_form| %>
  <li>
  <%= teams_form.label :name %>
  <%= teams_form.text_field :name %>
  <%= teams_form.label :description %>
  <%= teams_form.text_field :description %>
  <%= teams_form.label 'Leader' %>
  <%= teams_form.select :leader_id,Employee.all.collect{ |employee| [employee.name,employee.id] } %>
  <%# <%= teams_form.label t('pages.Teams.forms.members', default: 'Members') %>
  <%# <%= teams_form.select :employees, Employee.all.collect{ |employee| [employee.name,employee.id] },{:include_hidden => false},{ :multiple => true, :class => 'p-1 pr-5'} %>
  </li>
  <%end%>
  </ul>
 </div>


-->


  <div>
    <%= form.submit %>
  </div>
<% end %>


