


<h1 class="text-center "><%= t 'HR System' %></h1>

<div class="row mt-5 justify-content-center">

    <div class="col-4">

        <div class="card text-white bg-info mb-3" >
            <div class="card-body text-center">
              <h5 class="card-title">Users Count</h5>
              <h1 class="card-text "><%= User.count %></h1>
            </div>

        </div>
          

    </div>

     <div class="col-4">

        <div class="card text-white bg-warning mb-3" >
            <div class="card-body text-center">
              <h5 class="card-title">Employees Count</h5>
              <h1 class="card-text "><%= Employee.count %></h1>
            </div>

        </div>
          

    </div>

    <div class="col-4">

        <div class="card text-white bg-danger mb-3">
            <div class="card-body text-center">
              <h5 class="card-title">Teams Count</h5>
              <h1 class="card-text "><%= Team.count %></h1>
            </div>

        </div>
          

    </div>

    <div class="col-4">

        <div class="card text-white bg-success mb-3" >
            <div class="card-body text-center">
              <h5 class="card-title">Divisions Count</h5>
              <h1 class="card-text "><%= Division.count %></h1>
            </div>

        </div>
          

    </div>

     <div class="col-4">

        <div class="card text-white bg-secondary mb-3">
            <div class="card-body text-center">
              <h5 class="card-title">Targets Count</h5>
              <h1 class="card-text "><%= Target.count %></h1>
            </div>

        </div>
          

    </div>

</div>




